* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

nav ul {
    background-color: rgba(0, 0, 0, 0.81);
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: black;
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
    margin-top: 40px;
}

footer p {
    text-align: center;
    padding: 50px;
}
h2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
}
p {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 17px;
}